/*************** Reset *********************/
img {
  width: 100%;
  height: auto;
}

.grid1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .grid2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
  p.order {
    order: -1;
  }
}
